name: Test

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: node
        run: echo "##[set-output name=versoin;]$(cat .nvmrc)"
        id: node
      - uses: actions/setup-node@v6
        with:
          node-version: "${{ steps.node.outputs.version }}"
      - name: Install dependencies
        run: |
          npm ci
      - name: Run static tests
        run: |
          npm run test:codestyle
          npm run test:type
          npm run test:cpd
      - name: Run unit tests
        run: |
          npm run test
      - name: Run visual regression tests
        run: |
          npm run test:e2e -- --browsers=Chrome
          npm run test:e2e -- --browsers=Firefox
      - uses: actions/upload-artifact@v6
        if: failure()
        with:
          name: diff_output
          path: test/e2e/__image_snapshots__/__diff_output__
      - name: Run build tests
        run: |
          node scripts/run-build-test.js
